<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UsernameAvailabilityServlet</servlet-name>
        <servlet-class>com.moodmapper.servlet.UsernameAvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitTestServlet</servlet-name>
        <servlet-class>com.moodmapper.servlet.SubmitTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsernameAvailabilityServlet</servlet-name>
        <url-pattern>/usernameavailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitTestServlet</servlet-name>
        <url-pattern>/SubmitTestServlet</url-pattern>
        <servlet-class>com.moodmapper.servlet.SubmitTestServlet</servlet-class>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/TestDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/DevDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
